<header class="c-header c-header-light c-header-fixed">

  <ul class="c-header-nav d-md-down-none">
    <li class="c-header-nav-item px-3"><%= link_to root_path do %>
        <div class="header-nav d-none d-md-flex">
          <i class="fas fa-home fa-3x"></i>
          <h1 class="pl-1">Share Youtube Videos</h1>
        </div>
      <% end %>
    </li>
  </ul>

  <ul class="c-header-nav mfs-auto">
    <li class="c-header-nav-item px-3 c-d-legacy-none">
      <% if current_user %>
        <span class="user-profiles"><%= current_user.email %></span>
        <%= link_to 'Share', new_movie_path, class: 'btn btn-info ml-2' %>
        <%= link_to 'Logout', users_session_path(current_user), method: :delete, class: 'btn btn-danger ml-2' %>
      <% else %>
        <%= form_with scope: :users, url: users_sessions_path, class: 'd-flex' do |f| %>
          <%= f.text_field :email, value: @user&.email, placeholder: 'Email' ,class: 'form-control' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control ml-2' %>
          <%= f.submit 'Login', class: 'btn btn-primary ml-2 ' %>
        <% end %>
      <% end %>
    </li>
  </ul>
</header>
